/* Padrões */
*{
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.title {
    font-weight: bold;
    font-family: "Poppins", Arial;
    font-size: 2.4rem;
    color: hsl(192, 100%, 9%);
}
.paragraph {
    font-family:"Poppins", Arial ;
    font-size: 0.8rem;
    color: hsl(192, 100%, 9%);
}
/* Começo */

.logo {
    border: 1pt solid black;
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    margin-left: 3%;
    width: 20%;
}
.logo-botao {
    /* border: 1pt solid red; */
    width: 9%;
    height: 22%;
    display: flex;
    align-items: center;
    margin-right: 3%;
}
.logo-botao a {
    border: 1.5px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-radius: 13px;
    transition-duration: 0.5s;
}
#try-it:hover {
   transform: scale(1.1);
}
.inicio {
    border: 1pt solid red ;
    width: 100%;
    height: 15rem;
    display: flex;
    
    justify-content: center;
}
.inicio-text-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1pt solid green;
    width: 80%;
    height: 60%;
}
.inicio-text-content-paragraph {
    border: 1pt solid yellow;
    width: 50%;
    text-align: center;
}
